  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .info{
      height: 100vh;
      display: flex;
  }
  .info__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
  }
  .info__title{
      margin: 0;
      margin-bottom: 40px;
      font-size: 40px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: sans-serif;
      background: linear-gradient(to right, rgb(206,65,74),
                    rgb(252,233,122), rgb(238,129,82),rgb(73,160,183));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }
  .info__text{
      margin: 0;
      margin-bottom: 225px;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 1px;
      font-family: sans-serif;
      color: rgb(77,154,237);
  }
  .info__box{
      margin-bottom: 20px;
      width: 263px;
      height: 125px;
      background-color: rgb(232,82,75);
  }